.topics {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  justify-content: space-around;
}

.Outer-Topic {
  border: 1px solid white;
  margin: auto;
  padding: 2%;
  border-radius: 10px;
  margin-bottom: 20px;
  width: 80%;
}
