.Outer-Profile {
  height: 100%;
  width: 100%;
}

.Inner-Profile {
  margin: auto;
  width: 95%;
}
h4 {
  text-align: center;
}

.Profile-Title {
  width: 90%;
  font-size: 24px;
  font-weight: bold;
  margin: auto;
  text-align: center;
}
.pic-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  max-width: 400px;
  max-height: 400px;
  border-radius: 200px;
  overflow: hidden;
}

.pic {
  object-fit: cover;
  max-height: 85%;
}

.add-pic-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0px;
}
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

.upload-btn-wrapper input[type='file'] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.Topic-List {
  display: flex;
  flex-direction: column;
  text-align: center;
  min-height: 200px;
  width: 100%;
}

.profile-city {
  width: 50%;
  margin: auto;
  text-align: center;
}

.logout-btn {
  display: flex;
  width: 100%;
}
