/* .Outer-resource {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  margin: 0;
}

.resource-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 99%;
  margin: auto;
}
.check {
  color: green;
}

.resourceList {
  width: 100%;
  text-align: center;
  margin: auto;
  margin-top: 40px;
} */
.resourceError {
  width: 60%;
  margin: auto;
  color: red;
  font-size: 16px;
  text-align: center;
}
.resourcemsg {
  width: 60%;
  margin: auto;
  color: green;
  font-size: 16px;
  text-align: center;
}

.resource-render {
  margin-bottom: 10px;
}
