.App {
  height: 100vh;
  width: 100vw;
  margin: auto;
  max-width: 1400px;
}

.midSection {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.App-link {
  color: #61dafb;
}
