.App {
  height: 100vh;
  width: 100vw;
  margin: auto;
  max-width: 1400px;
}
.Main-Content {
  margin-top: 90px;
}
@media all and (max-width: 700px) {
  .Main-Content {
    margin-top: 20px;
  }
}

.App-link {
  color: #61dafb;
}
