.tag-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 40%;
  margin: auto;
  margin-bottom: 10px;
  font-size: 20px;
  border: 1px dotted blue;
  text-align: center;
}

.chosen-tag {
  display: flex;
  justify-content: center;
  align-items: center;
  background: grey;
  padding: 0px 5px 0px 10px;
  margin: 0px 5px;
}
.x-out {
  font-size: 12px;
  font-weight: bold;
  padding: 0px 5px 0px 10px;
  margin-bottom: 5px;
  cursor: pointer;
}
