/*:::::::::::::::::::::::::::*/
/*:::: Input Form Zone :::: */
/*:::::::::::::::::::::::::::*/
.Outer-TagComp {
  width: 100%;
  margin: auto;
}
.input-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 46px;
  margin: auto;
  font-size: 20px;
  text-align: left;
  position: relative;
  background-color: white;
}
.input-form {
  height: 46px;
  width: 98%;
  padding: 0;
  padding-left: 2%;
  border: none;
  outline: none;
  font-size: 20px;
  font-weight: bold;
  margin: auto;
}
.chosen-tag {
  display: flex;
  justify-content: center;
  align-items: center;
  background: grey;
  padding: 0px 0px 0px 10px;
  margin: 0px 5px;
}

/*: Form Buttons :*/
.iconb {
  font-size: 15px;
}
.x-out {
  font-size: 12px;
  font-weight: bold;
  color: rgb(119, 0, 0);
  margin: 0px 5px;
  margin-bottom: 5px;
  cursor: pointer;
}
.x-out:hover {
  color: red;
}

/*:::::::::::::::::::::::::::*/
/*:::: Tags Search Zone :::: */
/*:::::::::::::::::::::::::::*/
.Tag-Results {
  width: 100%;
}
.Tag-search-results {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 1px 2px 1px 1px;
  margin: auto;
  margin-bottom: 5px;
  font-size: 20px;
  text-align: center;
  background-image: linear-gradient(to bottom, blue, purple);
}
.ind-result {
  margin: 1px;
  width: 98%;
  padding: 1%;
  background-color: rgb(26, 26, 26);
  transition: all 0.3s ease;
}
.ind-result:hover {
  cursor: pointer;
  background-color: rgba(26, 26, 26, 0.788);
  transition: all 0.3s ease;
}
/*: Create Buttons :*/
.create {
  display: flex;
  justify-content: center;
  align-items: center;
  color: green;
  margin-left: 10px;
  position: absolute;
  right: 0;
  margin-right: 20px;
}
.create:hover {
  color: rgba(72, 209, 72, 0.651);
  cursor: pointer;
}
