.Outer-City {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 98%;
  margin: auto;
}

.city-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  margin: auto;
  margin-bottom: 5px;
}

.input-city {
  padding-left: 2%;
  width: 40%;
  height: 50px;
  font-size: 24px;
  margin: auto;
  margin-right: 2%;
}
.input-citysbm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  width: 10%;
  height: 57px;
  text-align: center;
  font-size: 20px;
  padding: 0% 1%;
  margin: auto;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.171);
  border-radius: 20px;
  box-shadow: 4px -2px 6px rgb(49, 56, 95);
  transition: box-shadow 0.4s ease;
  background-image: linear-gradient(to bottom, blue, purple);
}
.input-citysbm:hover {
  box-shadow: 2px -1px 2px rgb(49, 56, 95);
  transition: box-shadow 0.4s ease;
}
.check {
  color: green;
}

.CityList {
  width: 99%;
  text-align: center;
  margin: auto;
  margin-top: 40px;
}
.cityError {
  width: 60%;
  margin: auto;
  color: red;
  font-size: 16px;
  text-align: center;
}
.citymsg {
  width: 60%;
  margin: auto;
  color: green;
  font-size: 16px;
  text-align: center;
}
