.Outer-MainView {
  display: flex;
  width: 100%;
  background: blue;
}
.border-card {
  border: 1px solid white;
}
.sidebar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: sticky;
  top: 4.5rem;
}
.nopad {
  padding: 0.8rem;
}

@media all and (max-width: 764px) {
  .is-info {
    min-height: 200px;
  }
  .sidebar {
    width: 100%;
    position: static;
    top: 0;
  }
}
